<mat-toolbar color="primary" class="custom-toolbar">
    <div class="container">
        <span *ngIf="userIsAuth"><a routerLink="/list"><img src="../../assets/rent-wyse-logo.svg" alt="Logo" class="logo"></a></span>
        <span *ngIf="!userIsAuth"><a routerLink="/"><img src="../../assets/rent-wyse-logo.svg" alt="Logo" class="logo"></a></span>

        
        <span class="spacer"></span>
        <ul class="nav-list">
            <li *ngIf="userIsAuth">
                <a mat-button routerLink="/create" routerLinkActive="mat-accent">NewPost</a>
            </li>
            <li *ngIf="!userIsAuth">
                <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
            </li>
            <li *ngIf="!userIsAuth">
                <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
            </li>
            <li *ngIf="userIsAuth">
                <button mat-button  (click)="onLogout()" routerLinkActive="mat-accent">Signout</button>
            </li>
        </ul>
        <button class="menu-icon" (click)="toggleNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</mat-toolbar>
