

mat-spinner{
    margin: auto;
    stroke: black!important;
    color:  black!important;
    ;
}

.mat-progress-spinner circle, .mat-spinner circle ::ng-deep {
    stroke: black!important;
}



/* Basic styles */
mat-card {
    max-width: 500px; 
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 1.5rem;
}

.btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-logout {
    text-align: center;
    background-color: black;
}

button[mat-raised-button] {
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: black;
    color: aliceblue;
}

.mat-form-field.mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #1976D2;
}

mat-icon {
    cursor: pointer;
    transition: transform 0.3s ease;
}

mat-icon:hover {
    transform: scale(1.1);
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    mat-card {
        padding: 1rem;
    }

    button[mat-raised-button] {
        width: 100%;
    }

    .btn a {
        display: none;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    mat-card {
        padding: 1.5rem;
    }

    button[mat-raised-button] {
        width: auto;
    }
}
