/* :host{
    display: block;
    margin-top: 1rem;
    
} */
/* .post-container{
    width: 80%;
} */

.info-text{

    text-align: center;

}

mat-spinner{
    margin: auto;
}

.post-image{
    width:90%;
    margin:auto;
}

.post-image img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

mat-paginator{
    margin-top: 16px;
}


.slider-container {
    position: relative;
    width: 100%;
    margin: auto;
    height: auto;
}

.slider-container img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}




button[mat-icon-button] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
}

button[mat-icon-button]:nth-child(2) {
    left: 0;
}

button[mat-icon-button]:nth-child(3) {
    right: 0;
}

/* .post-container{
    width: 80%;
} */



.post-item {
    margin-bottom: 20px;
  }
  
  mat-icon {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  .post-btn{
    margin: 40px;
    display: flex;
    flex-direction: row-reverse;
  }
  .post-rental-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #000000; /* Yellow color from the design */
    border: none;
    border-radius: 30px;  /* Gives the rounded corners */
    font-size: 16px;
    font-weight: bold;
    color: #F0BB00; /* Black text color */
    cursor: pointer;
    transition: transform 0.2s; /* For a smooth hover effect */
    text-decoration: none;
    width: 25%;
    font-family: sans-serif;
}

/* Hover effect to slightly enlarge the button */
.post-rental-btn:hover {
    transform: scale(1.05);
}


.post-rental-btn:active {
    transform: scale(1);
    color: #F0BB00; /* Black text color */
    background-color: #000000; /* Slightly darker yellow for a pressed effect */
}
