/* :host{
    display: block;
    margin-top: 1rem;
    
} */
/* .post-container{
    width: 80%;
} */

.info-text{

    text-align: center;

}

mat-spinner{
    margin: auto;
}

.post-image{
    width:90%;
    margin:auto;
}

.post-image img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

mat-paginator{
    margin-top: 16px;
}


.slider-container {
    position: relative;
    width: 100%;
    margin: auto;
    height: auto;
}

.slider-container img {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}




button[mat-icon-button] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
}

button[mat-icon-button]:nth-child(2) {
    left: 0;
}

button[mat-icon-button]:nth-child(3) {
    right: 0;
}

/* .post-container{
    width: 80%;
} */



.post-item {
    margin-bottom: 20px;
  }
  
  mat-icon {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  