<mat-card>
    <!-- Display loading spinner when isLoading is true -->
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    
    <form (submit)="onSignup(signupForm)" #signupForm='ngForm' *ngIf="!isLoading">
        <div fxLayout="column" fxLayoutGap="20px">

            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" name="email" ngModel required email #emailInput = "ngModel" >
                <mat-hint>Enter a valid email address</mat-hint>
                <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput type="text" name="username" ngModel required #usernameInput = "ngModel" >
                <mat-error *ngIf="usernameInput.invalid">Please enter a valid username</mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel required #passwordInput =  "ngModel" >
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-hint>Minimum 8 characters</mat-hint>
                <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
            </mat-form-field>
            

            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" name="firstName" ngModel>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" name="lastName" ngModel>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <textarea matInput name="address" ngModel></textarea>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="tel" name="phone" ngModel placeholder="Phone Number" 
                       #phoneInput="ngModel"  pattern="^(\+\d{1,2}\s?)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$">
                <mat-error *ngIf="phoneInput.invalid">
                    Please enter a valid Canadian phone number.
                </mat-error>
            </mat-form-field>
            

        </div>

        <div class="btn" fxLayoutAlign="center">
            <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
        </div>
    </form>
</mat-card>
