
mat-form-field{
    width: 100%;
}
mat-card{
    width: 80%;
    margin: auto;
}

mat-spinner{
    margin: auto;
}
textarea{ 
    width: 100%;
}

button{
    width: 20%;
    margin: auto 0;
    margin-bottom: 30px;
}

button[mat-raised-button] {
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: black;
    color: aliceblue;
}



input[type= "file"]{
    visibility: hidden;
}
.image-preview{
    margin: 5px;
    max-height: 500px;
  }

.image-preview img{
    /* height: 10%; */
    height: auto;
    max-width: 150px; /* You can adjust this value as needed */
    border: 1px solid #ddd; /* Optional: Adds a border to each image */
    border-radius: 5px; /* Optional: Rounds the corners of the image */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .pick-btn{
        width: 100%;
    }
}