
mat-form-field{
    width: 100%;
}
mat-card{
    width: 80%;
    margin: auto;
}

mat-spinner{
    margin: auto;
}
textarea{ 
    width: 100%;
}

button{
    width: 20%;
    margin: auto 0;
    margin-bottom: 30px;
}

button[mat-raised-button] {
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: black;
    color: aliceblue;
}



input[type= "file"]{
    visibility: hidden;
}
.image-preview{
    margin: 5px;
    max-height: 500px;
  }

.image-preview img{
    /* height: 10%; */
    height: auto;
    max-width: 150px; /* You can adjust this value as needed */
    border: 1px solid #ddd; /* Optional: Adds a border to each image */
    border-radius: 5px; /* Optional: Rounds the corners of the image */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .pick-btn{
        width: 100%;
    }
}

.cdk-drag-preview {
    border: 2px solid #3f51b5;
    border-radius: 5px;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
    max-width: 150px; 

  }

  /* Ensure the placeholder doesn't take up any space */
.cdk-drag-placeholder {
    display: block;
    margin: 5px;
    max-height: 500px;
    max-width: 150px;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    max-width: 150px; 
  }
  
  .img-thumbnail {
    cursor: move; /* Indicates that the item is draggable */
    margin: 5px;


  }

  .img-thumbnail img{
    cursor: move; /* Indicates that the item is draggable */
    margin: 5px;
    max-width: 150px; 

  }


  
  .image-preview.cdk-drop-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100px;
  }
  

  

  .cdk-drag-preview {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
  

  