<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="posts.length > 0 && !isLoading" class="post-container">
  <mat-card class="post-item" *ngFor="let post of posts">
    <mat-card-header>
      <mat-card-title>{{ post.title }}</mat-card-title>
    </mat-card-header>
    
    <mat-card-content fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <div fxFlex="70">
        <div class="slider-container mb-4" *ngIf="post.imagePath.length > 0">
          <img [src]="post.imagePath[currentImageIndices[post._id] || 0]" [alt]="post.title">
          <button mat-icon-button (click)="previousImage(post._id)"><mat-icon>arrow_left</mat-icon></button>
          <button mat-icon-button (click)="nextImage(post._id, post.imagePath.length)"><mat-icon>arrow_right</mat-icon></button>
        </div>
        <p>{{ post.content }}</p>
        <p>Address: {{ post.address }}, {{ post.city }}, {{ post.province }}, {{ post.zipcode }}</p>
      </div>
      <div fxFlex="30">
        <button *ngIf="userIsAuth && userId " (click)="openInquiryDialog(post.creator)" mat-raised-button color="primary" >Make an Inquiry</button>
      </div>
    </mat-card-content>
    
    <mat-card-actions *ngIf="userIsAuth && userId === post.creator">
      <a mat-button color="primary" [routerLink]="['/edit', post._id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(post._id)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-paginator [length]="totalPosts" [pageSize]="postPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)" *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No posts added yet.</p>
