


<div class=" home-container  d-flex flex-column justify-content-between">
    
    <div class="post-btn">
        <!-- <a routerLink="/create" class="btn badge text-wrap  mb-3 post-rental-btn">Post a Rental</a> -->
    </div>
    
    <div class="house-container">
        <div class="intro-text mb-5">
            <h1 class="home-title px-5 fs-x text-start">Looking For A Place To Rent In Ontario?</h1>
            <h1 class="home-subtitle fs-x px-5 py-3 text-start">We Are Here To Help!</h1>
        </div>
        
     
    <div class="text-start pt-5  m-5">
    <div class="search-bar">
        <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text  border-right-0">
                <mat-icon matSuffix>search</mat-icon>
            </span>
        </div>
        <input id="autocomplete" type="text" class="form-control" placeholder="Search City, Neighborhood, Address">
        </div>
    </div>
    </div>

    
        <div class="popular-cities-section pt-5">
            <h1 class="popular-c">Popular Cities</h1>
            <h1 class="popular-c1">Find Your Next Apartment in Ontario</h1>
        </div>
    </div>
    
    <div class="row popular-cities ">
        <div class="col-md-4 mb-4" *ngFor="let city of ['Toronto', 'Mississauga', 'Brampton']">
            <a class="city-card d-block text-center p-4 h-100" (click)="onCitySelected(city.toLowerCase())">
                <p>{{ city }}</p>
                <img [src]="'../../assets/' + city.toLowerCase() + '.svg'" alt="{{ city }}" class="img-fluid mb-3">
            </a>
        </div>
    </div>
    
</div>
